.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr)
}

#header-title {
  align-self: center;
  font-family: 'Anton', sans-serif;
  font-size: 3.5em
}

ul#actions-list {
  display: inline-flex;
  float: right;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.52em;
  text-decoration: none;
}

ul#actions-list li:not(:first-child):before {
  content: '|';
  padding: 0 1em 0 1em;
}